* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  min-width: 300px;
}
.box {
  text-align: center;
}
.box p {
  padding-block: 10px;
}
.dollor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  box-shadow: 4px 4px 4px #eee;
  width: 250px;
}
.heading {
  padding: 10px 50px;
  color: white;
  background-color: black;
  font-size: 1.5rem;
}

button {
  padding: 5px 10px;
  background-color: lightgreen;
  border: none;
}

.button {
  background-color: #eee;
  padding: 20px;
}
